body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {margin: 0; height: 100%}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

th, td {
  border: 1px solid black;
  padding: 5px;
}

.highlight {
  background-color: #84fa2f !important;
  zoom: 1.5;
  padding: 5px;
  color: black !important;
  font-size: 70%;
}

.day {
  text-align: center;
}

.hour {
  text-align: center;
  width: 18vw;
}

.row {
  justify-content: space-between;
  background-color: transparent;
}

td {
  background-color: transparent;
}